---
import LayoutGlobal from "../layouts/layout-global.astro";
---

<LayoutGlobal title="Contacto">
  <section class="py-12">
    <h1 class="text-4xl font-extrabold text-primary sm:text-5xl">Contacto</h1>
  </section>
</LayoutGlobal>
