---
import LayoutGlobal from "../layouts/layout-global.astro";
import CardProyect from "../components/cards/card-proyect.astro";
import Banner from "../components/banner/banner.astro";
import { getLastestProject } from "../store/list-projects";

import Experience from "../components/experience.astro";
---

<LayoutGlobal title="Inicio">
  <Banner />
  <div class="mx-auto max-w-5xl">
    <div class="my-16 font-extrabold">
      <h1 class="text-primary text-5xl">Daren Salazar Hernández</h1>
      <legend class="text-2xl text-gray-800 dark:text-gray-500">
        Más alla del código, desarrollando ideas.
      </legend>
    </div>
    <p class="mt-8 text-lg text-gray-600 dark:text-gray-400">
      <strong class="text-primary">Desarrollador FullStack</strong> con mas de 5 años de
      <a href="/experience" class="text-primary font-bold underline">experiencia</a>
      apasionado por construir soluciones modernas e inteligentes.
    </p>
    <p class="mt-4 text-lg text-gray-600 dark:text-gray-400">
      Con experiencia en tecnologías como <strong class="text-primary">
        React.js, React Native, Vuejs 3, Astro, Tailwind CSS, TypeScript
      </strong>, y una sólida base en servicios en la nube con
      <strong class="text-primary">AWS y Azure</strong>, llevo las ideas a la realidad.
    </p>
    <p class="mt-4 text-lg text-gray-600 dark:text-gray-400">
      <strong class="text-primary">Integro</strong> funciones avanzadas de
      <strong class="text-primary">inteligencia artificial</strong>
      en aplicaciones mediante modelos LLM con métodos como
      <strong class="text-primary">RAG (Retrieval-Augmented Generation)</strong>, utilizando bases
      de datos vectoriales como OpenSearch y/o cualquier fuente de informacion para maximizar la
      relevancia y el contexto de las respuestas.
    </p>
    <p class="mt-4 text-lg text-gray-600 dark:text-gray-400">
      Mi experiencia abarca desde desarrollar <strong class="text-primary">microservicios</strong>
      con Flask y FastAPI hasta diseñar interfaces intuitivas y sistemas escalables. Me apasiona aprender
      constantemente y enfrentar nuevos retos, lo que me permite evolucionar junto con las demandas del
      mundo tecnológico. Mis soluciones no solo cumplen con los requerimientos; están diseñadas para
      elevar el estándar del producto final y
      <strong class="text-primary">maximizar su impacto</strong>.
    </p>
    <p class="mt-4 text-lg text-gray-600 dark:text-gray-400">
      ¿Buscas integrar inteligencia artificial o construir aplicaciones escalables y confiables?
      <strong class="text-primary">Contáctame</strong>, y juntos llevaremos tus proyectos al
      siguiente nivel.
    </p>
    <section class="flex flex-1 flex-col py-12">
      <h1 class="text-primary pb-6 text-4xl font-extrabold sm:text-5xl">Experiencia</h1>
      <Experience />
    </section>

    <section class="pb-12">
      <h2 class="text-primary text-4xl font-extrabold sm:text-5xl">
        <a href="/projects" class="underline">Proyectos</a> destacados
      </h2>

      <p class="mt-6 text-lg text-gray-600 dark:text-gray-400">
        Estos proyectos son los que he desarrollado en los últimos meses y son los que me siento más
        orgulloso, cada uno con su propia historia y desafíos. muchos son realizados para clientes,
        otros son proyectos personales para practicar nuevas tecnologías.
      </p>

      <div class="mt-6 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        {getLastestProject().map((project) => <CardProyect project={project} />)}
      </div>
    </section>
  </div>
</LayoutGlobal>
